<% include header%>
<ul class="nav navbar-nav side-nav">
    <li class=""><a href="/server"><i class="fa fa-user"></i> 用户管理</a></li>
    <li class=""><a href="/article"><i class="fa fa-file-text-o"></i> 文章管理</a></li>
    <li class=""><a href="/product"><i class="fa fa-file-text-o"></i> 案例管理</a></li>
    <li class="selected"><a href="/contacts"><i class="fa fa-file-text-o"></i> 联系人管理</a></li>
</ul>
<%
function getdate(date) {
    return {
        year: date.getFullYear(),
        month: date.getFullYear() + "-" + (date.getMonth() + 1),
        day: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(),
        minute: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
        ":" + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
    }
}
%>

<% include nav %>
<div id="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr >
                            <th>姓名</th>
                            <th>邮件</th>
                            <th>主题</th>
                            <th>内容</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% contacts.forEach(function (contact,index) {%>
                        <tr>
                            <td class="col-sm-1"><%=contact.user%></td>
                            <td class="col-sm-1"><%=contact.email%></td>
                            <td class="col-sm-2"><%=contact.subject%></td>
                            <td class="col-sm-6"><%=contact.message%></td>
                            <td class="col-sm-1"><%=getdate(contact.date).minute%></td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
                <%if(page.pageCount !=1){%>
                <ul id="paginator" pageCount="<%=page.pageCount%>" pageNum="<%=page.num%>" pageSize="<%=page.size%>" pageLimit="<%=page.limit%>" numberOfPages="<%=page.numberOf%>" style="float:right!important"></ul>
                <%}%>
                <script>
                    $(function () {
                        //获得浏览器参数
                        $.extend({
                            getUrlVars: function () {
                                var vars = [],hash;
                                var hashes = window.location.href.slice(window.location.href.indexOf('?')+1).split('&');
                                for (var i = 0;i < hashes.length ; i++){
                                    hash = hashes[i].split('=');
                                    vars.push(hash[0]);
                                    vars[hash[0]]=hash[1];
                                }
                                return vars;
                            },
                            getUrlVar: function (name) {
                                return $.getUrlVars()[name];
                            }
                        });
                        //封装浏览器参数

                        var composeUrlParams = function () {
                            var param = '';
                            $.each($.getUrlVars(), function (i,item) {
                                if(item!='p'){
                                    var val = $.getUrlVar(item);
                                    if(val){
                                        param+="&"+item+"="+val;
                                    }
                                }
                            });
                            return param;
                        }
                        var container = $('#paginator');
                        var option = {
                            currentPage:container.attr('pageNum'),
                            totalPages:container.attr('pageCount'),
                            numberOfPages:container.attr('numberOfPages'),
                            pageUrl: function (type,page,current) {
                                return "/product?"+composeUrlParams()+"&p="+page;
                            },
                            bootstrapMajorVersion:3
                        }

                        container.bootstrapPaginator(option);
                    })
                </script>
            </div>
        </div>
    </div>
</div>

<% include footer%>
