<% include header%>
    <ul class="nav navbar-nav">
        <li><a href="/blog">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/archive">存档 <span class="sr-only">(current)</span></a></li>
        <li><a href="/resume">关于 <span class="sr-only">(current)</span></a></li>
        <li><a href="/">返回到网站主页 <span class="sr-only">(current)</span></a></li>
    </ul>
</div>
</div>
</nav>
<%
function getdate(date) {
    return {
        year: date.getFullYear(),
        month: date.getFullYear() + "-" + (date.getMonth() + 1),
        day: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(),
        minute: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
        ":" + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
    }
}
function randomColor(){
    var r = Math.floor(Math.random()*256);
    var g = Math.floor(Math.random()*256);
    var b = Math.floor(Math.random()*256);
    return "rgb("+r+","+g+","+b+")";
};
%>
<div class="container" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">

                <div class="col-xs-12 text-primary" style="margin-bottom: 20px;box-shadow: 0px 0px 10px 0px rgb(0, 163, 255);background: rgb(120, 120, 120)">
                    <h2><%=article.title%></h2>
                    <div class="text-left">
                        <span>发布时间：<%=article.date.minute%></span>
                        <span>作者：<%=article.author%></span>
                        <span>标签：<%=article.tag%></span>
                    </div>
                    <hr/>
                    <p style="background: #fff"><%-article.content%></p>
                    <div id="SOHUCS"></div>
                    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                    <script type="text/javascript">
                        window.changyan.api.config({
                            appid: 'cyskFJqUw',
                            conf: 'prod_e3833ede08caa7ad062442facd332875'
                        });
                    </script>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<% include footer%>
