<% include header%>
    <ul class="nav navbar-nav">
        <li><a href="/blog">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="/archive">存档 <span class="sr-only">(current)</span></a></li>
        <li><a href="/resume">关于 <span class="sr-only">(current)</span></a></li>
        <li><a href="/">返回到网站主页 <span class="sr-only">(current)</span></a></li>
    </ul>
</div>
</div>
</nav>
<%
function getdate(date) {
    return {
        year: date.getFullYear(),
        month: date.getFullYear() + "-" + (date.getMonth() + 1),
        day: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(),
        minute: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
        ":" + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
    }
}
function randomColor(){
    var r = Math.floor(Math.random()*256);
    var g = Math.floor(Math.random()*256);
    var b = Math.floor(Math.random()*256);
    return "rgb("+r+","+g+","+b+")";
};
%>
<div class="container" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
            <%articles.forEach(function (article,index) {%>
                <div class="col-xs-12 text-primary" style="margin-bottom: 20px;box-shadow: 0px 0px 10px 0px rgb(0, 163, 255);">
                    <h2><a href="/checkaticle/<%=article._id%>"><%=article.title%></a></h2>
                    <div class="text-left">
                        <span>发布时间：<%=article.date.minute%></span>
                        <span>作者：<%=article.author%></span>
                        <span>标签：<%=article.tag%></span>
                    </div>
                    <hr/>
                    <p style="background: #fff"><%-article.content%></p>
                </div>
            <%})%>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="panel panel-default" style="box-shadow: 0px 0px 10px 0px rgb(0, 163, 255)">
                        <div class="panel-heading">标签</div>
                        <%tags.forEach(function (tag,index) {%>
                            <a class="btn" href="/tag/<%=tag%>" style="background:<%=randomColor()%>;color: #000;font-weight: bold;box-shadow: 0px 0px 10px 0px;margin: 4px"><%=tag%></a>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer%>
