<!DOCTYPE HTML>
<html>
<head>
<title>个人简历</title>
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="../../darkadmin/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../../darkadmin/css/local.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="个人简历系统" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="../../css/swipebox.css">
<script src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../darkadmin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/lang/zh-cn/zh-cn.js"> </script>
<script type="text/javascript" src="../../js/move-top.js"></script>
       <script type="text/javascript" src="../../js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<!------ Light Box ------>
    <script src="../../js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox({
				hideBarsDelay:0
			});
		});
	</script>
    <!------ Eng Light Box ------>

</head>
<body style="margin-top: 0">
<!-- header -->
	<div class="banner">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html">个人简介</a></h1>
			</div>	
			<div class="banner-info">
				<h2>嗨，我是李洪强</h2>
				<h3>每天多学一点，就进步一大截！</h3>
			</div>
		</div>
	</div>
<!-- header -->
<!-- about -->
				<div class="scroll">
					<a href="#contact" class="scroll"><img src="../../images/index/down.png" class="img-responsive" alt=""></a>
				</div>
	<div class="about">
		<div class="container">
			<h3>个人技能</h3>
			<div class="study2">
			<div class="col-md-6 about-left">
						<h4>Html</h4>
							<div class="progress">
							  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
								<span class="sr-only">90% Complete (success)</span>
							  </div>
							</div>
						<h4>Css</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">80% Complete</span>
						  </div>
						</div>
						<h4>Js</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">80% Complete (warning)</span>
						  </div>
						</div>
						<h4>Node</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
							<span class="sr-only">70% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div Class="col-md-6 about-right">
						<h4>Python</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">60% Complete (danger)</span>
						  </div>
						</div>
						<h4>Test</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
							<span class="sr-only">90% Complete (danger)</span>
						  </div>
						</div>
						<h4>Selenium</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger-3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">60% Complete (danger)</span>
						  </div>
						</div>
					</div>
		</div>
	</div>
	</div>
<!-- about -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >在线案例</a></div>
<!-- services -->
	<div class="services">
		<div class="container">
			<h3>个人博客</h3>
			<div class="container">
				<ul class="timeline">
					<%
					function getdate(date) {
						return {
							year: date.getFullYear(),
							month: date.getFullYear() + "-" + (date.getMonth() + 1),
							day: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(),
							minute: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
							":" + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
						}
					}
					%>
					<% articles.forEach(function (article,index) { %>
						<% if (index%2 == 0){%>
							<li>
								<div class="timeline-badge info"><i class="fa fa-file-text"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><%=article.title%></h4>
										<span>发布时间：<%=getdate(article.date).minute%></span>
										<span>作者：<%=article.author%></span>
										<span>标签：<%=article.tag%></span>
										<hr />
									</div>
									<div class="timeline-body">
										<p><%- article.content%>
										</p>
									</div>
								</div>
							</li>
						<%}else {%>
								<li class="timeline-inverted">
									<div class="timeline-badge info"><i class="fa fa-file-text" style="color: #000"></i></div>
									<div class="timeline-panel">
										<div class="timeline-heading">
											<h4 class="timeline-title"><%=article.title%></h4>
											<span>发布时间：<%=getdate(article.date).minute%></span>
											<span>作者：<%=article.author%></span>
											<span>标签：<%=article.tag%></span>
											<hr />
										</div>
										<div class="timeline-body">
											<p><%- article.content%>
											</p>
										</div>
									</div>
								</li>
						<%}%>
					<% }) %>

				</ul>
				<a href="" class="btn btn-primary col-sm-offset-5 col-sm-2" style="margin-bottom: 20px;"> 查看更多</a>
			</div>
	</div>
<!-- services -->
<!-- portfolio -->
	<div class="gallery">
		<div class="container">
			<h3>案例</h3>
			<div class="portfolio">
					<div id="portfoliolist">
						<% products.forEach(function (product,index) { %>
							<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper grid_box">
									 <a href="<%=product.imgpath%>" class="swipebox"  title="<%=product.title%>"> <img src="<%=product.imgpath%>" class="" alt="" width="271" height="199"><span class="zoom-icon"></span> </a>
								</div>
							</div>
						<%})%>
					<div class="clearfix"></div>
				</div>
		  <div class="clearfix"></div>
			</div>

		</div>
	</div>
<!-- portfolio -->	
<!-- client -->
	<div class="client">
		<div class="container">
			<h3>Clients</h3>
			<div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -228px; display: block;">			
					
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/5.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/2.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/3.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/4.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/6.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/7.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/5.png" alt=" " class="img-responsive">
						</div>
					</li>
					<li class="nbs-flexisel-item" style="width: 300px;">
						<div class="sliderfig-grid">
							<img src="../../images/index/1.png" alt=" " class="img-responsive">
						</div>
					</li>
					
					
					</ul>
					<div class="nbs-flexisel-nav-left" style="top: 27px;"></div><div class="nbs-flexisel-nav-right" style="top: 27px;"></div></div></div>
					<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 7,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="../../js/jquery.flexisel.js"></script>



		</div>
	</div>
<!-- client -->
<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3>Contact</h3>
			<div class="footer-left">
				<li><i class="add"> </i>lorem ipsum</li>
				<li><i class="phone"> </i>1234567890</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
			<div class="soci">
					<ul>
						<li><a href="#"><i class="facebk"> </i></a></li>
						<li><a href="#"><i class="twter"> </i></a></li>
						<li><a href="#"><i class="goopl"> </i></a></li>
						<li><a href="#"><i class="insta"> </i></a></li>
						<div class="clearfix"></div>
					</ul>
			</div>
			</div>
			<div class="co-ntact">
	
				  <form method="post" action="contact-post.html">
					<div class="to">
						<label>
							<input type="text" class="text" value="Name" onFocus="this.value = '';"
								   onBlur="if (this.value == '') {this.value = 'Name';}">
						</label>
						<label>
							<input type="text" class="text" value="Email" onFocus="this.value = '';"
								   onBlur="if (this.value == '') {this.value = 'Email';}">
						</label>
						<label>
							<input type="text" class="text" value="Subject" onFocus="this.value = '';"
								   onBlur="if (this.value == '') {this.value = 'Subject';}">
						</label>
					</div>
					<div class="text">
						<label>
							<textarea value="Message" onFocus="this.value = '';"
									  onBlur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						</label>

						<div class="form-submit">
			           <input name="submit" type="submit" id="submit" value="Submit"><br>
			           </div>
	                </div>
	                <div class="clearfix"></div>
                   </form>
			</div>
		</div>
		<div class="map">
			</div>
	</div>
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span></a>
<!-- contact -->
		</div>
</body>
</html>